@import url(reset.css);

.header, footer {
  background-color: black;
  color: white;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
}

.header h1{
 display: inline; 
}

.header-container {
  margin: auto;
  font-size: 0;
  width: 800px;
}

.logo {
  font-size: 20px;
  width: 200px;
  display: inline-block;
}

.menu {
  font-size: 16px;
  display: inline-block;
}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
  color: white;
}

.columns {
  width: 800px;
  margin: 50px auto;
  font-size: 0;
}

.left {
  box-sizing: border-box;
  font-size: 16px;
  display: inline-block;
  background-color: black;
  width: 200px;
  padding: 20px;
  vertical-align: top;
  margin-right: 10px;
}

.left a {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: white;
}

.right {
  width: 590px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
