@import url(reset.css);

.outer{
	font-size: 0px;
	width: 500px
}

div {
	width: 250px;
	color: white;
	vertical-align: top;
	font-size: 16px;
}
.one {
	height: 200px;
	background-color: black;
	display: inline-block;
}
.two {
	height: 200px;
	background-color: green;
	display: inline-block;
}
a {
	width: 200px;
	height: 100px;
	display: block;
	margin: auto;
}

img {
	width: 100px;
	display: block;
}